/***********************
GENERAL
***********************/

blockquote{
  font-size: 2.0em;
  font-family: 'Droid Sans', sans-serif;
  font-style: italic;
  color: black;
  float: left;
  padding: 35px 0 0 25px;
  text-indent: -15px;
  line-height: 1.75em;

}

blockquote span{
  font-family: 'Playball', cursive;
  font-style: normal;
  font-size: 1.7rem;

}

h1{
  font-family: 'bleeding_cowboysregular', sans-serif;
  font-size: 3.75em;
  font-weight: normal;
  color: #000;
  letter-spacing: 0.1em;
  text-align: right;
  max-width: 600px;
}


/***********************
NAV
***********************/

.links{
  background-image: url("../img/white-cf.png");
  height: 80px;
  border-radius: 30px;
  position: relative;
  margin-bottom: 2em;
}

.nav{
  font-family: 'Droid Sans', sans-serif;
  font-size: 2em;
  text-align: center;
  position: relative;
  top: 25%;
}

.nav ul li{
  list-style: none;
  display: inline-block;
  word-spacing: 1.25em;

}

.nav ul li a{
  text-decoration: none;
  color: #000;
}

nav ul li span{
  padding-right: 40px;
}


/***********************
HEADER
***********************/

header{
  margin-top: -20px !important;
  margin-bottom: 50px !important;
  max-width: 600px;
}

header p{
  text-indent: 7em;

}

header p span{
	font-family: 'Droid Sans', sans-serif;
	font-size: 1em;
	font-weight: 700;
	letter-spacing: 0.03em;
	color: #000;
	margin: 15px 0 7px 0;
}

header p a.phone{
  margin-left: 24px;
}


header p a.email1{
  margin-left: 30px;
}

header p a.email2{
  display: block;
  text-align: center;
  text-indent: 20px;
  margin-top: 5px;
}

header a{
  text-decoration: none;
  margin-left: 10px;
  font-size: 1em;
}

header a:link,
header a:hover,
header a:active,
header a:visited{

  color: #000;
}

/***********************
HORIZONTAL RULE - courtesy of
http://www.techrepublic.com/blog/web-designer/customize-horizontal-rules-to-add-some-flair/
however i couldn't decide between two of the borders, so i put my own twist on it
and combine two different HR. It took a bit (a LOOOOT) of tweaking but i got them to flow together
fairly nice.

***********************/
hr.flare {
  height: 50px;
  border-radius: 45px;
  border-style: ridge;
  border-color: #000;
  border-width: 3px 0 0 0;
  color: #000;
  text-align: center;
}

hr.flare:before {
  display: block;
  content: "";
  height: 50px;
  margin-top: -58px;
  border-style: ridge;
  border-color: #000;
  border-width: 0 0 3px 0;
  border-radius: 45px;
}

hr.flare:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.65em;
  font-size: 1.55em;
  padding: 0.055em 0.32em 0.1em 0.32em;
  background-image: url("../img/white-cf.png");
  background-size: 56px 56px;
}


/***********************
BODY
***********************/

body {
  background-color: #000;
}


.showgrid {
  overflow: hidden;
  background-color: #000;
}

div.bodyDiv{
  background-image: url("../img/white-cf.png");
  background-repeat: repeat;
  border-radius: 2%;
}

div h2{
  margin-left: 20px;

}

section h3.lang{
  margin: 0 0 0 20px;
}

section h3.prog{
  margin: 0 0 0 0px;
}

section h3.time{
  margin: 0 0 0 15px;
}

section.microsoft,
section.adobe{
  display: inline-block;
  margin: -7px 0 0 0;
}

section.microsoft h4,
section.adobe h4{
  margin-bottom: -5px;
}

section.microsoft ul{
  margin-left: -15px;
}

section.adobe ul li{
  margin-left: 10px;
}

section.adobe h4{
  text-align: left;
  margin-left: 25px;
}

/*******************
SKILLSET & SKILLSET LIST ITEMS
*******************/
section.grid_4 ul li{

  margin-bottom: 7px;
}

section.grid_4 ul.lang{
  margin: 15px 0 0 5px;
}

/* Programming Languages */

.c-icon{
  list-style-image: url("img/c-icon.png");
}
.java-icon{
  list-style-image: url("img/java-icon.png");
}
.python-icon{
  list-style-image: url("img/python-icon.png");
}
.sql-icon{
  list-style-image: url("img/sql-icon.png");
}
.html5-icon{
  list-style-image: url("img/html5-icon.png");
}
.css3-icon{
  list-style-image: url("img/css3-icon.png");
}

/* Microsoft Shit */
.excel-icon{
  list-style-image: url("img/excel-icon.png");
}
.pp-icon{
  list-style-image: url("img/pp-icon.png");
}
.word-icon{
  list-style-image: url("img/word-icon.png");
}

/* Adobe Shit */
.ilstr-icon{
  list-style-image: url("img/ilstr-icon.png");
}
.ind-icon{
  list-style-image: url("img/ind-icon.png");
}
.ps-icon{
  list-style-image: url("img/ps-icon.png");
}

/* Time Shit */
section ul a,
section ul a:link,
section ul a:visited,
section ul a:hover,
section ul a:active{
  text-decoration: none;
  color: #000;
}

.sank-icon{
    list-style-image: url("img/sank-icon.png");
}
.boa-icon{
  list-style-image: url("img/boa-icon.png");
}
.dwen-icon{
  list-style-image: url("img/dwen-icon.png");
}


/*******************
EDUCATION & EDUCATION LIST ITEMS
*******************/
div.education{
  margin-top: 25px;
}


div h3.studyField{
  margin: 0 0 0 20px;
}

div ul.college{
  margin: 15px 0 0 5px;

}

li.scc-icon{
  list-style-image: url("img/scc-icon.png");
}

li.scc-icon ul li{
  list-style-image: none;
  margin-top: 5px;
}

li.ewu-icon{
  list-style-image: url("img/ewu-icon.png");
  margin: 20px 0 0 0;
}

li.ewu-icon ul li{
  list-style-image: none;
  margin-top: 5px;
}


/*******************
EXPERIENCE
*******************/

div.experience{
  margin-top: 30px;

}

div ul.exp-list{
  text-align: justify;
}

div ul.exp-list li{
  margin: 0 0 10px 5px;
}